<!DOCTYPE html>
<html>
<head>
        <!-- Bootstrap include -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>이메일</title>
</head>
<body>
<center>
<h1>프로토타입</h1>
    <form action="/user/send/email" method="post">
        이메일:
        <input type="email" name="email"/>
        <input type="submit" class="btn btn-warning" value="전송"/>
    </form>

    <a href="./signup.html" class="btn btn-primary" >학생 등록</a>
</center>
</body>
</html>
